
$app-bg-color-light: white;
$app-text-color-light: black;

$app-bg-color-dark: black;
$app-text-color-dark: white;


.app{
    &.light{
        background-color: $app-bg-color-light;
        color: $app-text-color-light;
    }
    &.dark{
        background-color: $app-bg-color-dark;
        color:$app-text-color-dark;
    }
}

.app-header{
    padding: 20px;
    text-align: center;
    background-color: lighten($app-bg-color-dark,10%);
}

body{
    background-color: #dfdada;
    color:#333;
}
